body{
	background-color: #eddade;
	font-family: 'Merriweather',serif;
}

.logo {
	width: 100%;
	border: 1px solid black;
	margin-bottom: 10px;

}

.black{
	background-color: white;
}

.bold{
	font-weight: bold;
}

.white {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.footer{
	background-color:#eddade;
}